.show{
    width: 100%;
    position: relative;
}
.show .images{
    width: 100%;
    height: 750px;
    padding: 40px;
    border-radius: 8%;
}
.btna{
    background-color: transparent;
    border-color: transparent;
}

.parent-btn{
    padding: 40px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 300px;


}


@media (max-width:576px) {
    .show .images{
   border-radius: 16% !important;
    height: 350px !important;
    }
    .parent-btn{
    padding: 20px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 100px;
    height: 10px;

}
    
}