*{
    margin: 0%;
    padding: 0%;
    
}

.navbar-toggler{
    background-color: white;
}

.container-fluid{
    background-color: rgb(56, 60, 64) !important;
    margin-top: -8px;
    margin-bottom: -8px;
    color: aliceblue !important;
}


.btn{
    
    background-color: rgb(83, 83, 134) !important;
    font-weight: bold !important;
    color: white !important;
    margin-top: 2px;
    margin-left: 20px;
}
.btn:hover{
    
    background-color: rgb(83, 83, 86) !important;
    font-weight: bolder !important;
    font-size: 17px;
    color: rgb(240, 234, 234) !important;
    margin-top: 2px;
    margin-left: 20px;

}

.navbar-brand{
    height: 100px;
    margin-top: -20px;
    margin-bottom: -20px;
}
.nav-link{
    color: white !important;
    font-weight: bolder !important;
    font-size: 18px !important;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.nav-link:hover{
    background-color: rgb(83, 83, 86) !important;
    border-radius: 10%;
    font-weight: bolder !important;
    font-size: 22px !important;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -4px;
    margin-left: 5px;
    margin-right: 5px;
}
